
.header {
  background-color : #d7d5ed;
  height: 80px;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
}

.icon {
  height: 50px;
}

.header p {
  margin: 20px;
  color: #5D528F;
  font-size: 2.5rem;
  font-weight: 500;
}

.home {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  margin: 20px 50px 20px 50px;
}

.main-name {
  font-size: 2.1rem;
  font-weight: bold;
  margin-left: 80px;
  color: #3E497A;
}


.cards {
  background-color: #E5E5E5;
  margin: 30px;
  height: 310px;
  width:290px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.sub-card {
  border-radius: 5px;
  height:100px;
  margin: 0;
  padding: 0;
  color:  #FFFFFF;
  text-align: left;
  padding: 10px;
  background-color:#3E497A;
}

.sub-card-heading {
  font-size: 2.2em;
}
.rem-card {
  padding: 10px;
  border-bottom-style:inherit;
}

.sub-card p {
  margin:0;
}



